apiVersion: v1
kind: Service
metadata:
  name: go-cicd-db-svc
  namespace: default
spec:
  selector:
    app: go-cicd-db
  ports:
    - protocol: TCP
      port: 5434
      targetPort: 5432
      nodePort: 30434
  type: NodePort
